.header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    color: white;
    align-items: center;
    background-color: rgb(255, 33, 126);
    box-shadow: 0 4px 4px rgba(0,0,0,0.26);
    z-index: 100;
  }
  
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap:2rem;
  }

  .list li a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 0.5rem 1rem;
  }

  .list li a:hover, .list li a.active{
    color: rgb(252, 17, 220);
    border-color: transparent;
    background-color: white;
  }

  .user div{
    background-color: rgb(5, 114, 14);
    color: white;
    font-size: 0.75rem;
    padding: 0.65rem 0.6rem;
    border-radius: 50%;
    border: 3px solid wheat;
  }
  /* .user ul{
    position: absolute;
    background-color: black;
    margin-top: 0.2rem;
    display: none;
    width:10rem;
    height: 10rem;
    margin-left: -3rem;
  } */

  .user div:hover{
    cursor: pointer;
    border-color: white;
  }
  /* .user:hover ul{
    display: block;
  } */
  
 