.designs{
    text-align: center;
    width:100%;
    padding: 0 1rem;
}
.designs h1{
    color: rgb(226, 110, 16);
}

.cards-container{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.card{
    min-width:30%;
    text-align: center;
    border-radius: 0.35rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    flex: 1;
    max-width: 32%;
}
.card:hover{
    cursor: pointer;
}

.card img{
    height: 15rem;
    width:100%;
    object-fit: cover;
    border-top-right-radius: 0.35rem;
    border-top-left-radius: 0.35rem;
}

.title{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(163, 4, 137);
}
.price span{
    font-weight: bold;
    color: rgb(4, 190, 4);
}
.price del{
    font-size: 0.75rem;
}

.actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.75rem;

}
.actions button{
    background-color: rgb(243, 113, 237);
    color: white;
    padding: 0.5rem 2.5rem;
    border-radius: 0.35rem;
    border:none;
}
.actions button:hover{
    background-color: rgb(223, 9, 187);
    cursor: pointer;
}



.details-container{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
}
.details-container h1{
    color: rgb(226, 101, 43);
}

.card-details{
    display: flex;
    width:80%;
    background-color: rgb(234, 243, 250);
    height: 60vh;
    gap:2rem;
}

.card-details img{
    width:50%;
    height: 60vh;
    object-fit: cover;
    flex:1;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:2;
}

.back{
    padding: 0.5rem 2.5rem;
    border-radius: 0.35rem;
    background-color: transparent;
    border: 1px solid rgb(221, 36, 159);
    color: rgb(221, 36, 159);
    font-size: 1rem;
}
.back:hover{
    cursor: pointer;
    background-color: rgb(221, 36, 159);
    color: white;
}